* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-brown: #854632;
  --dark-purple: #7b284f;
  --light-rose: #fff5fa;
  --background-color: #f3e6d8;
  --secondary-text: #e4ded8;
  --primary-text: #5f574e;
  --title: #302d2c;
}

body {
  font-family: "Outfit", serif;
  font-size: 1em;
  color: var(--primary-text);
}

h1 {
  font-family: "Young Serif", sans-serif;
  font-weight: 700;
  color: var(--title);
}

h2{
  font-family: "Young Serif", sans-serif;
  font-weight: 700;
  color: var(--dark-brown);
  margin-bottom: 1em;

}

p {
  color: var(--primary-text);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

/* # Layout */


header{
  margin-block: 2em ;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

main {
  font-family: outfit;
  padding: 3em;
  width: 50vw;
  background-color: white;
  border-radius: 2em;
}

main >* {
  margin-block: 2em;
}

.prep {
  background-color: var(--light-rose);
  padding: 3em;
  border-radius: 2em;
}

.prep h2 {
  font-family: "Outfit", serif;
  font-size: 1.5em;
  color: var(--dark-purple);
  margin-bottom: 1.5em;
}

ul,
ol {
  padding-left: 1.125em;
}

li {
  color: var(--dark-charcoal-color);
  margin: 5px;
  padding-inline: 2em;
  margin-block: 0.5em;
}

.prep li::marker {
  color: var(--dark-purple);
}

p,
.ing ul {
  margin-block: 2em;
}

.ing ul li {
  margin: 5px;
  padding-inline: 2em;
  padding-bottom: 1em;
}

.ing li::marker {
  color: var(--dark-brown);
}

.row {
  display: flex;
}

.row > * {
  flex: 1;
  padding: 1em;
}

.ing,
.inst,
.row:not(:last-child) {
  border-bottom: var(--secondary-text) 1px solid;
}

.left {
  font-weight: bold;
  color: var(--dark-brown);
}

.photo img {
  width: 100%;
  border-radius: 1em;
}

main:not(:last-child) {
  margin-block: 3.75em;
}

@media screen and (max-width: 376px) {
  body{
    font-size: 0.85em;
  }
  main {
    width: auto;
    border-radius: 0;
    padding: 2em;
  }
  main:not(:last-child) {
    margin-block: 0em;
  }
  h1{
    font-size: 2em;
  }
}