/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

/* # General Styles */
:root {
  --dark-brown: #854632;
  --dark-purple: #7b284f;
  --light-rose: #fff5fa;
  --background-color: #f3e6d8;
  --secondary-text: #e4ded8;
  --primary-text: #5f574e;
  --title: #302d2c;
}

body {
  font-family: "Outfit", serif;
  font-size: 16px;
  color: var(--primary-text);

}

h1{
  font-family: "Young Serif", sans-serif;
  font-weight: 700;
  color: var(--title);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", sans-serif;
  font-weight: 700;
  color: var(--dark-brown);
}

p {
  color: var(--primary-text);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

/* # Layout */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

main {
  font-family: outfit;
  padding: 3em;
  width: 50vw;
  background-color: white;
  border-radius: 2em;
}

.prep {
  background-color: var(--light-rose);
  padding: 3em;
  border-radius: 2em;
}

.prep h2 {
  font-family: "Outfit", serif;
  font-size: 24px;
  color: var(--dark-purple);
  margin-bottom: 24px;
}

ul , ol {
  padding-left: 1.125em;
}


 li {
  color: var(--dark-charcoal-color);
  margin: 5px;
  padding-inline: 2em;
  margin-block: 0.5em;
}

.prep li::marker {
  color: var(--dark-purple);
}

p,.ing ul {
  margin-block: 2em ;
}

.ing ul li {
  margin: 5px;
  padding-inline: 2em;
  margin-block: 0.5em;
}

.ing li::marker {
  color: var(--dark-brown);
}

.row{
  display: flex;
}

.row > *{
  flex: 1;
  padding: 1em;
}

.ing,.inst ,.row:not(:last-child){
  margin-bottom: 1em;
  border-bottom: var(--secondary-text)  1px solid;
}


.left{
  font-weight: bold;
  color: var(--dark-brown);
}


.photo img{
  width: 100%;
  border-radius: 1em;
}

main:not(:last-child){
  margin-block: 3.75em;
}





